<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/midtest1602100346/src/midtest1602100346/B1602100346_PAINT.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="midtest1602100346.B1602100346_PAINT"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="midtest1602100346"/>
</launchConfiguration>
